<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="software, C#, Ruby, programming tutorials, software developing, web applications, websites, making a program, types of software" />
<meta name="description" content="This is a compialation of the programs I have created" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="/">The Coders Wall</a></h1>
		</div>
	</div>
	<!-- end #header -->
	<%= render 'layouts/menus' %>
	<!--Menu rendered above -->
	
	<div id="two-columns">
		<div class="content">
			<div id="columnA">
				<h1>Tutorials are Under Contruction:</h1>
				<p>These will be coming soon.</p>
			<div id="columnB">
			</div>
		</div>
	</div>
	<div id="footer">
		<p>Copyright (c) 2012 Thecoderwall.net. All rights reserved.</p>
	</div>
	
</div>
</body>
</html>
