<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="software, C#, Ruby, programming tools, change text quickly, text replace, quick text" />
<meta name="description" content="This is a compialation of the programs I have created" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="/">The Coders Wall</a></h1>
		</div>
	</div>
	<!-- end #header -->
	<%= render 'layouts/menus' %>
	<!--Menu rendered above -->
	
	<div id="two-columns">
		<div class="content">
			<div id="columnA">
				<h1>Dayage.rb</h1>
				<p>I created this, and plan on making one with a actual user interface. But for those of you that don't mind the classics, here is a command line version of this program. You won't need to download it, just copy the code and create the dayage.rb file so that you can save it and run it.</p>
			</div>
			<div id="columnB">
				<img src="/assets/Projects/dayage.png">
				<p><a href="https://github.com/Banzar/rubycode/blob/master/dayage.rb" class="link-style">Get from Github</a></p>
			</div>
		</div>
	</div>
	<div id="footer">
		<p>Copyright (c) 2012 Thecoderwall.net. All rights reserved.</p>
	</div>
	
</div>
</body>
</html>
