<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="software, C#, Ruby, programming tutorials, software developer, web applications, home made programs, types of software" />
<meta name="description" content="This is a compialation of the programs I have created" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="/">The Coders Wall</a></h1>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/posts">Blog</a></li>
			<li><a href="/videos">Videos</a></li>
			<li><a href="/tutorials">Tutorials</a></li>
			<li class="current_page_item"><a href="/projects">My Software</a></li>
			<li class="last"><a href="mailto:info@thecoderwall.net">Contact</a></li>
		</ul>
	</div>
	<div id="two-columns">
		<div class="content">
			<div id="columnA">
				<h2>Software</h2>
				<ul class="list-style2">
					<li class="first">
						<a href="/projects/quick_fix">Quick Fix</a>
						<p>A must have for programmers.
					</li>
					<li>
						<a href="/projects/dayage">Dayage</a>
						<p>This makes it easy to calculate the amount of days it has been since a specific date.</p>
					</li>
				</ul>
			</div>
			<div id="columnB">
				<h2>Websites</h2>
				<ul class="list-style1">
					<li class="first">
						<H3><a href="//www.social-parents.com" target="_blank">Social-Parents.com</a></h3>
						<p>A social network for parents to connect with each other.</p>
					</li>
					<li>
						<H3><a href="//www.blevinsmobile.com" target="_blank">BlevinsMobile.com</a></h3>
						<p>This is a website I put together for a small business owner.</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="footer">
		<p>Copyright (c) 2012 Thecoderwall.net. All rights reserved.</p>
	</div>
	
</div>
</body>
</html>
