<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="software, C#, Ruby, programming tools, change text quickly, text replace, quick text" />
<meta name="description" content="This is a compialation of the programs I have created" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="/">The Coders Wall</a></h1>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/posts">Blog</a></li>
			<li><a href="/videos">Videos</a></li>
			<li><a href="/tutorials">Tutorials</a></li>
			<li><a href="/projects">My Software</a></li>
			<li class="last"><a href="mailto:info@thecoderwall.net" target="_blank">Contact</a></li>
		</ul>
	</div>
	<div id="two-columns">
		<div class="content">
			<div id="columnA">
				<h1>QuickFixer</h1>
				<p>This is a little program I created when working with another program and needed to make a lot of changes. If you find yourself needing to change a certain string of words in a program several times to another string, this would be helpful.</p>
				<p>I created this when I found it was faster to make a program that does these simple changes for you then to do them yourself. When I was working on a program with several thousands of lines and atleast 1/3 of the lines were "richtextBox1" up to "richtextBox6" and I was changing them to text box fields making all of those line change to "textBox1" up to "textBox6".</p>
				<p>This program will save tons of time with those simple changes that just take more of your time then they seem to be worth.</p>
			</div>
			<div id="columnB">
				<img src="/assets/Projects/easily_change_several_lines_with_quickfixer.png">
				<p><a href="https://github.com/Banzar/QuickFixer/blob/master/bin/Debug/QuickFixer.exe?raw=true" class="link-style">Download</a></p>
			</div>
		</div>
	</div>
	<div id="footer">
		<p>Copyright (c) 2012 Thecoderwall.net. All rights reserved.</p>
	</div>
	
</div>
</body>
</html>
