<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="software, C#, Ruby, programming tutorials, software developer, web applications, home made programs, types of software" />
<meta name="description" content="This is a compialation of the programs I have created" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="/">The Coders Wall</a></h1>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/posts">Blog</a></li>
			<li><a href="/videos">Videos</a></li>
			<li><a href="/tutorials">Tutorials</a></li>
			<li><a href="/projects">My Software</a></li>
			<li class="last"><a href="mailto:info@thecoderwall.net" target="_blank">Contact</a></li>
		</ul>
	</div>
	<div id="two-columns">
		<div class="content">
			<div id="columnA">
				<h1>Trouble Shooter Plus</h1>
				<p>This is a project I built for my business to make it easy to access specific information needed for the job. It also makes it easier by giving you exactly what is needed to write inside the notes that are created per persons account.</p>
				<p>This program is specific to the company it is for. It cannot be downloaded because it is secure and contains sensitive information.</p>
				<p>Because the application is for a certain product/company, I have edited the picture to not show certain details to make the company that uses this program unknown. It does appear to be missing some issues and some stuff, this is normal, I have taken them out for a reason.</p>
				<p>I also make other programs like this to make jobs easier and the time spent working more efficient. If you have something that you would need done, this is a service I do offer. Just contact me and we can work out the details.</p>
			</div>
			<img src="/assets/Projects/Trouble_Shooter.png">
			<div id="columnB">
			</div>
		</div>
	</div>
	<div id="footer">
		<p>Copyright (c) 2012 Thecoderwall.net. All rights reserved.</p>
	</div>
	
</div>
</body>
</html>
