<html>
<head>
<title>Programming Blog</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Programming Blog, programmers, programming questions, programming help" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="/">The Coder Wall</a></h1>
		</div>
	</div>
	<!-- end #header -->
	<%= render 'layouts/menus' %>
	<!--Menu rendered above -->
	
	<div id="two-columns">
		<div class="content">
			<div id="column1">

			</div>
			<div id="columnA">
				<h1>Listing posts</h1>

				<table width="950">
					<tr>
						<th width="200">Subject</th>
						<th>Text</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>

				<% @posts.each do |post| %>
					<tr>
						<td><%= link_to "#{post.subject}", post %></td>
						<td><%= truncate(post.text, :length => 70).gsub(/<h1>/, "") %></td>
					</tr>
				<% end %>
				</table>
			</div>
		</div>
	</div>
	<div id="footer">
		<p>Copyright (c) 2012 Thecoderwall.net. All rights reserved.</p>
	</div>
	
</div>
</body>
</html>
