<div id="menu">
	<ul>
		<!-- <li class="current_page_item"><a href="/">Home</a></li> -->
		<li><a href="/">Home</a></li>
		<li><a href="/posts">Blog</a></li>
		<li><a href="/videos">Videos</a></li>
		<li><a href="/tutorials">Tutorials</a></li>
		<li><a href="/projects">My Software</a></li>
		<li class="last"><a href="mailto:dcledford@ymail.com" target="_blank">Contact</a></li>
	</ul>
</div>